body {
  margin: 0 auto;
  background-color: black;
  height: 100%;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

h1 {
  color: white;
  font-size: 40pt;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

a {
  text-decoration: none;
}

h2 {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25pt;
  line-height: 50px;
}

#x {
  float:left;
}

#o {
  float: right;
}

#names h2 {
    text-align: center;
}

#startBtn {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  height: 100px;
}

#block {
  height:90px;
}

#start {
  bottom:0;
}

#playerInputs{
  width: 600px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  height: 100px;
  position: relative;
}

#submitDiv {
  bottom: 0;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 600px;
  margin-top: 20px;
}

#playerDisplay{
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  min-height: 100px;
  text-align: center;
  position: relative;
}

#resetDiv {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 600px;
  min-height: 100px;
  margin-top: -90px;
}

#names {
  width: 550px;
  margin: auto;
}

#player1 {
  float:left;
  width: 200px;
}

#player2 {
  float: right;
  width: 200px;
}

#submit {
  margin-top: 30px;
  margin-bottom: 0px;
}

#score {
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

#player1Score {
  float: left;
  min-height: 100px;
}

#player2Score {
  float: right;
  min-height: 100px;
}

p {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25pt;
}

.clear{
  clear: both;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td {
  height: 175px;
  width: 175px;
  border: 0px;
}

#row1, #row2 {
  border-bottom: 5px solid white;
}

.box:nth-child(1)  {
  border-right: 5px solid white;
}

.box:nth-child(2)  {
  border-right: 5px solid white;
}
#reset, #submit, #start {
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Gloria Hallelujah';
  transition: border-color 1s linear;
     -moz-transition: border-color 1s linear;    /* FF3.7+ */
     -o-transition: border-color 1s linear;      /* Opera 10.5 */
     -webkit-transition: border-color 1s linear; /* Saf3.2+, Chrome */
}

#reset:hover, #submit:hover, #start:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

#reset:focus, #submit:focus, #start:focus {
  outline: 0;
}

#player1, #player2 {
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  transition: border 1s;
  background-color: black;
  color: white;
  font-family: 'Gloria Hallelujah';
  font-size: 16px;
}

#player1:focus,
#player2:focus {
  border: solid 3px rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px 1px #969696;
  outline: 0;
}

footer {
  width: 100%;
  color: white;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Gloria Hallelujah';
  font-size: 10px;
}
